apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: space2study
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
      - name: ecr-registry-secret
      containers:
      - name: backend
        image: "{{ aws_account_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com/space2study-backend:latest"
        imagePullPolicy: Always
        ports:
        - containerPort: 5001
        envFrom:
        - configMapRef:
            name: backend-config
        resources:
          requests:
            cpu: "150m"
            memory: "192Mi"
          limits:
            cpu: "300m"
            memory: "384Mi"
